.graphItemtIconTypeDiv {
  display: flex;
  align-items: center;
}

.graphItemtIconTypeDiv span {
  margin-left: 6px;
}

.commonIconStyle {
  border-radius: 25%;
  width: 22px;
  height: 22px;
  margin-left: -10px;
  margin-right: 10px;
}