.graphItemtIconTypeDiv {
  display: flex;
  align-items: center;
}

.graphItemtIconTypeDiv span {
  margin-left: 1px;
  margin-right: 2px;
  vertical-align: center;

}
/* 
.commonIconStyle {
  margin-right: 0px;
  vertical-align: center;
} */
