{
  "extends": "@folio/eslint-config-stripes",
  "parser": "babel-eslint",
  "overrides": [
    {
      "files": [
        "src/**/*.test.js",
        "test/jest/**/*",
      ]
    }
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "array-bracket-spacing": "off",
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-closing-tag-location": "off",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-extra-boolean-cast": "off",
    "no-mixed-operators": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-curly-spacing": "off",
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-max-props-per-line": [ "error", { "maximum": 10 } ],
    "template-curly-spacing": "off"
  }
}
