@import "@folio/stripes-components/lib/variables";

.selected {
  border: 1px solid oklch(70.00% 0 0) !important;

  .nodeHeader {
    background-color: oklch(85.00% 0 0);
    padding: 10px;
  }

  .nodeBody {
    background-color: oklch(90.00% 0 0);
    padding: 10px;
  }
}

.headerEnd {
  padding-left: 5px;
}

.roundedBorder {
  border-radius: 10px;
}

.graphItemDownArrowIconDiv {
  display: flex;
  margin-top: -15px;
  justify-content: center;
}