@import "@folio/stripes-components/lib/variables";

.selected,
.nodeCard:hover,
.selected:hover {
  cursor: pointer;
  background-color: color-mix(in oklch, var(--bg) 80%, var(--bg-hover) 20%);
  color: green;

  .nodeHeader {
    background-color: var(--bg-hover);
  }
}

.headerEnd {
  padding-left: 5px;
}
