@import "@folio/stripes-components/lib/variables";

.selected {
  outline: none;
}

.selected:hover {
  .nodeHeader {
    background-color: oklch(70% 0.1135 254.12 / 15.78%);
  }
  
  .nodeBody {
    background-color: oklch(70% 0.1135 254.12 / 15.78%);
  }
}

.headerEnd {
  padding-left: 5px;
}

 